form p {
    margin-left: 50px;
}
div h1{
    margin-left: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input {
    margin-left: 100px;
}